@charset 'utf-8';

/*-- @keyframes --*/
/*-- タブレット向けレイアウト ～1000px --*/
@media all and (max-width:1000px) {
  
  .topTitle {
    font-family: sabon,serif;
    font-size: 64px;
    font-weight: bold;
    margin:0;
    padding:0;
    color:#333;
    font-style: italic;
    position: absolute;
    top:250px;
    left:150px;
  }

  .menu-area {
    width:25%;
  }

  .menu-icon1 {
    margin-bottom: 20px;
    font-size: 20px;
    color:cornflowerblue;
    padding-left:10px;
    display: block;
  }

  .menu-eat {
    display: none;
  }  
}

/*-- スマートフォン向けレイアウト ～670px --*/
@media all and (max-width:670px) {
 
  .topTitle {
    font-family: sabon,serif;
    font-size: 24px;
    font-weight: bold;
    margin:0;
    padding:0;
    color:#333;
    font-style: italic;
    position: absolute;
    top:30px;
    left:30px;
  }

  .header-sp {
    padding: 5px 0;
    display: flex;  
    align-items: center;
    position: relative;
  }

  .header-pc {
    display: none;
  }  
  
  .drawer_open {
    padding-right: 8px;
    display: block;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
        display: block;
  }

  .menu-area {
    width:50%;
  }

  .menu-icon2 {
    margin-bottom: 20px;
    font-size: 20px;
    color:cornflowerblue;
    padding-left:10px;
    display: block;
  }

  .menu-icon1 {
    display: none;
  }

  .menu-eat {
    display: none;
  }
}
