@charset 'utf-8';

/*-- タブレット向けレイアウト ～1000px --*/
@media all and (max-width:1000px) {
  
  .topTitle {
    font-family: sabon,serif;
    font-size: 64px;
    font-weight: bold;
    margin:0;
    padding:0;
    color:#333;
    font-style: italic;
    position: absolute;
    top:250px;
    left:150px;
  }

    /* 4カラム対応の最終行の並び順 */
    /* 3カラム対応の最終行の並び順 */
    .menu-container::after{
      content:"";
      display: block;
      width:calc(25% - 7.5px);  
    }

     /* 4カラム対応の最終行の並び順 */
     .menu-container::before{
      content:"";
      display: block;
      width:calc(25% - 7.5px);
      order:1;
    }

  .menu-box {
    width:calc(25% - 7.5px);
    margin-bottom: 100px;
  }

  .contact-frm-sp {
    display: none;
  }
}

/*-- スマートフォン向けレイアウト ～670px --*/
@media all and (max-width:670px) {
 
  .topTitle {
    font-family: sabon,serif;
    font-size: 24px;
    font-weight: bold;
    margin:0;
    padding:0;
    color:#333;
    font-style: italic;
    position: absolute;
    top:30px;
    left:30px;
  }

  .header-sp {
    padding: 5px 0;
    display: flex;  
    align-items: center;
    position: relative;
  }

  .header-pc {
    display: none;
  }  
  
  .drawer_open {
    padding-right: 8px;
    display: block;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    display: block;
  }

  .menu-box {
    width:calc(50% - 5px);
  }

  .contact-frm-sp {
    display: block;
  }
  
  .contact-frm {
    display: none;
  }
}
