@charset 'utf-8';

/* 画面共通のCSS*/

body,p,h1,h2,h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*  header area 
                   */
header {
  margin: 0 5px;
}

.header-pc { 
  display:flex;
  align-items: center;
}

.header-sp {
  display: none;
}

.logoClass {
  text-decoration: none;
  color:#333;
  font-size: 18px;
}

.nav_content_pc {
  margin-left: auto;
}

ul.nav_list_pc {
  display: flex;
}

.nav_list_pc li{
  list-style: none;
}

.nav_list_pc li a{
  color:#333;
  margin-left: 20px;
}

/* 【ハンバーガーメニューに関するCSS】 
/*  チェックボックスを非表示にする     */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
  display: none;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: none;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/

.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  /* top:0%;  // メニューアイコンクリック時、左または右からメニューが表示 */
  bottom: 100%; /* メニューアイコンクリック時、上からメニューが表示 */
  left: 0%; /* メニューアイコンクリック時、上からメニューが表示 */
  /* left: 100%; /* メニューアイコンクリック時、右からメニューが表示 */
  /* right: 100%; /* メニューアイコンクリック時、左からメニューが表示 */
  z-index: 99;
  background: rgb(110, 110, 110);
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

.nav_item a {
  color: #fff;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0;/* メニューを画面に入れる */
}

/*   main area 
                   */
.container {
  background-color:skyblue;
  width: 100%;
  margin: 0 5px;
}

.main-img-wrapper {
  position: relative;
}

.main-info-wrapper {
  color:chocolate;
  margin-top:30px;
  height:100%;
}

.sentence-h2 {
  color:#fff;
  padding:5px 0 10px 5px;
}

.info-p {
  color:#fff;
  padding-left:5px;
}

.main-menu-wrapper {
  color:chocolate;
  margin-top:20px;
  height:300px;
}

.topLink {
  padding-left:10px;
  color:#333;
}

.topTitle {
  font-family: sabon,serif;
  font-size: 96px;
  font-weight: bold;
  color:#333;
  font-style: italic;
  position: absolute;
  top:250px;
  left:200px;
}

.imgShape img {
  max-width:100%;
  max-height:100%;
  object-fit:cover;
  vertical-align:bottom; /* 画像(img)の下に余白(すき間)ができる問題を解決 */
}

/*   footer area 
                   */
footer {  
  text-align: center;
}

.footer-p {
  color:#fff;
  font-size: 14px;
}

/*  menu 
               */
.menu-container {
  max-width:1280px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
}

.menuS {
  color:tomato;
  padding:10px 0 20px 10px;
}

.menu-eat {
  margin-bottom: 20px;
  font-size: 20px;
  color:cornflowerblue;
  padding-left:10px;
}

.menu-icon1 {
  margin-bottom: 20px;
  font-size: 20px;
  color:cornflowerblue;
  padding-left:10px;
  display: none;
}

.menu-icon2 {
  margin-bottom: 20px;
  font-size: 20px;
  color:cornflowerblue;
  padding-left:10px;
  display: none;
}

.menu-name { 
  max-width:200px;
  max-height:200px;
  object-fit:cover;
  margin:15px 20px;
}
