@charset 'utf-8';

/* common-css */

html,body,h1,h2,h3,p,ul,li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*  header area 
                   */
header {
  margin: 0 5px;
}

.header-pc { 
  display:flex;
  align-items: center;
}

.header-sp {
  display: none;
}

.logoClass {
  text-decoration: none;
  color:#333;
  font-size: 18px;
}

.nav_content_pc {
  margin-left: auto;
}

ul.nav_list_pc {
  display: flex;
}

.nav_list_pc li{
  list-style: none;
}

.nav_list_pc li a{
  color:#333;
  margin-left: 20px;
}

/* 【ハンバーガーメニューに関するCSS】 
/*  チェックボックスを非表示にする     */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
  display: none;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: none;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/

.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  /* top:0%;  // メニューアイコンクリック時、左または右からメニューが表示 */
  bottom: 100%; /* メニューアイコンクリック時、上からメニューが表示 */
  left: 0%; /* メニューアイコンクリック時、上からメニューが表示 */
  /* left: 100%; /* メニューアイコンクリック時、右からメニューが表示 */
  /* right: 100%; /* メニューアイコンクリック時、左からメニューが表示 */
  z-index: 99;
  background: rgb(110, 110, 110);
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

.nav_item a {
  color: #fff;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0;/* メニューを画面に入れる */
}

/*   main area 
                   */
.container {
  background-color:skyblue;
  width: 100%;
}

.main-img-wrapper {
  position: relative;
}

.main-info-wrapper {
  color:chocolate;
  margin-top:30px;
  height:100%;
}

.sentence-h2 {
  color:#fff;
  padding:5px 0 10px 5px;
}

.info-p {
  color:#fff;
  padding-left:5px;
}

.main-menu-wrapper {
  color:chocolate;
  margin-top:20px;
  height:300px;
}

.topTitle {
  font-family: sabon,serif;
  font-size: 96px;
  font-weight: bold;
  color:#333;
  font-style: italic;
  position: absolute;
  top:250px;
  left:200px;
}

.imgShape img {
  max-width:100%;
  max-height:100%;
  object-fit:cover;
  vertical-align:bottom; /* 画像(img)の下に余白(すき間)ができる問題を解決 */
}

/*   footer area 
                   */
footer {  
  text-align: center;
}

.footer-p {
  color:#fff;
  font-size: 14px;
}

/*  menu-page
               */

.menu-top {
  display: flex;
}

.topLink {
  padding-right:10px;
  color:#333;
  margin-left: auto;
}

.menu-container {
  max-width:1280px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-box {
  width:calc(20% - 8px);
  margin-bottom: 100px;
}

.menu-container img {
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}

.menuS {
  color:tomato;
  padding:10px 0 20px 10px;
}

.menu-category {
  font-size: 20px;
  color:cornflowerblue;
  padding-left:10px;
}

.menu-title{
  color:#333;
  margin-top: 5px;
}

.menu-price{
  color:#333;
  margin-top: 2px;
}

/*  contact-page
               */
.contact-frm {
 margin: 0 20px;
}

.contact-frm table {
  width:600px;
}

.contact-frm th {
  width:200px;
  text-align: left;
  padding:20px 10px;
  font-weight: normal;
}

.contact-frm td {
  width:400px;
  padding:20px 10px;
}

.contact-container {
  margin-top: 100px;
  margin-left: 30px;
}

.conTitle{
  color:#333;
  font-size: 24px;
  margin: 20px 0;
  margin-left: 20px;

}
.conMsg {
  color:#333;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.inputTitle {
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 30px;
  font-weight: bold;
}

.requiredSentence {
  margin-left: 40px;
  color:red;
  font-size: 14px;
}

.requiredRed {
  margin-left: 20px;
  color:red;
  font-size: 12px;
  text-align: right;
}

.errMsgAge {
  color:red;
  font-size: 14px;
  margin-top: 5px;
}

.errMsgGender {
  color:red;
  font-size: 14px;
  margin-top: 5px;
}

.errMsgTitle {
  color:red;
  font-size: 14px;
  margin-top: 5px;
}

.errMsgGoiken {
  color:red;
  font-size: 14px;
  margin-top: 5px;
}

.txtbox {
  width:280px;
  height:25px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.txttitle {
  width:280px;
  height:25px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.selectjob,
.selectage {
  width:150px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.txtarea {
  width:280px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.radio {
  border:1px solid #888;
}

.contactLink {
  margin:30px 0 20px 20px ;
}

.btnarea {
  width:600px;
  text-align: center;
}

#contactBtn {
  margin-top:30px;
  width: 100px;
  height:40px;
  font-size: 16px;
  border-radius: 10px;
  border:1px solid #fff;
  color:#fff;
  background-color:darkgray;
  text-align: center;
}

/*  contact page -スマートフォン用- 
                                    */
.contact-frm-sp {
  margin: 0 20px;
  width:300px;
  display: none;
}

.inputTitle-sp {
  font-size: 20px;
  margin:70px 0 30px 20px;
  font-weight: bold;
}

.inp-word {
  margin:30px 0 10px 30px;
}

.selectjob-sp,
.selectage-sp {
  margin-left: 30px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.txtbox-sp {
  width:280px;
  height:25px;
  margin-left: 30px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.radio-sp {
  margin-left: 30px;
  border:1px solid #888;
}

.txt2 {
  margin-left: 30px;
  border:1px solid #7c6e6e;
  background-color:antiquewhite;
}

.errMsgAge-sp {
  color:red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
}

.errMsgGender-sp {
  color:red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
}

.errMsgTitle-sp {
  color:red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
}

.errMsgGoiken-sp {
  color:red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
}

.btnarea-sp {
  width:300px;
  text-align: center;
}

#contactBtn-sp {
  margin-top:30px;
  width: 80px;
  height:40px;
  font-size: 16px;
  border-radius: 10px;
  border:1px solid #fff;
  color:#fff;
  background-color:darkgray;
  text-align: center;
}

.spline {
  margin-right: 3px;
  color:skyblue;
}

/*  comp page 
                 */
.comptitle {
  margin:20px 0 0 30px;
  font-size: 18px;
  color:#333;
}

.compmsg {
  margin:10px 0 50px 30px;
  font-size: 14px;
  color:#333;
}
